// Non-modular or client styles for .l-footer region.


.l-footer-columns{
	background-image:url(../images/footer-bg.jpg);
	background-size:cover;
	background-position:top right;
	padding:100px 0;
	font-size: 0.8rem;
	color:darken($white, 30%);
	h2{
		text-transform: uppercase;
		font-size: 1rem;
		border-bottom:1px solid darken($white, 30%);
		padding-bottom:10px;
		margin-bottom:20px;
		color:$white;
	}
	p, li, a{
		color:darken($white, 30%);
		font-size: 0.8rem;
	}
	a{
		@include transition;
		&:hover{
			color:$white;
		}
	}
	.fa{
		color:$white;
		font-size: 1.2rem;
	}
	.menu{
		list-style: none;
		margin-left: 0;
		li{
			margin-bottom:10px;
			text-transform: uppercase;
		}
	}

	.footer-first{
		a{
			img{
				height:43px;
				//margin-right:10px;
			}
			@include transition;
			&:hover{
				opacity: 0.8;
				img{
					opacity:0.8;
				}
			}
		}
		ul.inline-list{
			li{
				margin-left:0.5rem;
				&:first-child{
					margin-left:1.375rem;
				}
			}
		}
		
	}
}

.l-footer{
	background-color: $black;
	padding:30px 0;
	color:darken($white, 30%);
	//text-align:center;
	font-size: 0.8rem;
	
}

.footer-first{

}

.footer-third{
	h3{
		font-size: 0.8rem;
		margin-bottom: 0;
		text-transform: uppercase;
		font-family: $body-font-family;
		font-weight:700;
		color:$white;
	}
}

.footer-fourth{
	.small-2{
		width:9.66667%;
	}
	.small-10{
		width:87.33333%;
	}
}

.atomiq-logo{
	a{
		img{
			width:50px;
			opacity: 0.3;
			@include transition;
			&:hover{
				opacity:0.5;
			}
		}
	}
	
}

.copyright-text{
	margin-top:20px;
}

