// Non-modular or client styles for .l-header region.


header.l-header{
	background-color:$black;
	text-align:center;
	border-bottom:1px solid #1f2220;
}


.front{
	.l-main{
		// background-image:url(../images/main-bg.jpg);
		// background-size: cover;
		
	}
}

.l-main{
	//padding-top:100px;
	.l-header-region{
		text-align:center;
		margin-bottom:100px;
		padding-top:100px;
		p, h2{
			color:#b6d4d6;
		}
		p{
			text-transform: uppercase;
			letter-spacing: 5px;
			margin-bottom:0;
		}
		h2{
			font-style: italic;
			font-weight: 700;
			font-size: 4rem;
		}
	}
}

// MEDIUM SCREENS AND DOWN
@media only screen and (max-width: 40em) { 
	.top-bar.expanded .toggle-topbar a{
		color:$white;
	}
	.top-bar.expanded .toggle-topbar a span{
		box-shadow:none;
	}
	.top-bar{
		ul.title-area{
			margin-bottom:40px;
			li{
				margin-top:0!important;
			}
		}
	}
}

// MEDIUM SCREENS AND UP
@media only screen and (min-width: 40.063em) { 
	
	header.l-header{
		.top-bar-section{
			ul{
				width: 100%;
				text-align: center;
				li{
					display: inline-block;
					float: none;
					padding:0 20px;
					a{
						border-bottom:3px solid $black;
						text-transform: uppercase;
						font-size: 0.7rem;
						color:darken($white, 20%)!important;
						@include transition;
						&:hover{
							border-bottom:3px solid $primary-color;
							//background-color:lighten($black, 5%)!important;
							color:$white!important;
						}
					}
					a.active{
						border-bottom:3px solid $primary-color;
						margin-bottom:0;
						color:darken($white, 20%)!important;
						@include transition;
						&:hover{
							color:$white!important;
						}
					}
				}	
			}
		}
	}
}