// Non-modular or client styles for the .l-content region.


.test{
	color:#000;
}


.l-main{
	.highlight{
		.views-row{
			border:3px solid #4d2f2f;
			position: relative;
			.views-field-title{
				position: absolute;
				width: 100%;
				text-align: center;
				top:50%;
				margin-top:-25px;
				a{
					padding:10px 20px;
					border:3px solid $white;
					color:$white;
					background-color:rgba(0,0,0,0.3);
					font-family: 'steelfishregular', sans-serif;
					font-size: 1.6rem;
					&:hover{
						background-color:rgba(0,0,0,0.6);
					}
				}
			}
		}
	}

	.home-events{
		color:$white;
		h2{
			font-size: 1rem;
			text-transform: uppercase;
			a{
				color:$white;
				&:hover{
					opacity:0.6;
				}
			}
		}
		p{
			color:$white;
			font-size: 0.8rem;
			opacity: 0.6;
			font-family: $header-font-family;
		}
		.node-readmore{
			display: none;
		}
	}

	.block-views-events-block-events{
		border-top:1px solid $white;
		margin:100px 0 50px;
		position: relative;
		h2.block-title{
			margin-top: -15px;
			text-align: center;
			font-size: 1.2rem;
			color:$white; 
			margin-bottom:50px;
			span{
				padding:10px 30px;
				border:1px solid $white;
				background-color:$black;
			}
		}
		.views-row{
			.views-field-title{
				font-size: 1rem;
				font-family: $header-font-family;
				margin-top:20px;
				text-transform: uppercase;
				a{
					color:$white;
					&:hover{
						opacity: 0.6;
					}
				}
			}
		}
	}
}