// Non-modular or client styles for the .l-content region.


.test{
	color:#000;
}

// .cb-slideshow {
// 	top: 300px!important;
// 	position:absolute!important;
// 	z-index:-1;
// 	li{
// 		//margin-top: 300px;
// 		//top: 300px;
// 		span{
// 			//margin-top: 300px;
// 		}
// 	}
// }
// .cb-slideshow:after{
// 	position: absolute!important;
// 	z-index: -1;
// }

body.front{
	background-color:#03010E;
}	



.l-main{
	.highlight{
		.views-row{
			//border:1px solid lighten($black, 20%);
			position: relative;
			//@include transition;
			&:hover{
				.views-field-field-image{
					img{
						width:110%!important;
						max-width:110%!important;
						margin-left:-5%;
						margin-top:-5%;
						opacity: 0.4;

					}
				}
				.views-field-title{
					opacity: 1;
					&:hover{
						opacity:1;
					}
					a{
						opacity: 1;
						&:hover{
							opacity:1;
						}
					}
				}
			}
			.views-field-field-image{
				@include transition;
				overflow: hidden;
				height:250px;
				border:2px solid #3e3f51;
				background-color:$black;
				z-index: 1;
				img{
					@include transition;
				}
			}
			.views-field-title{
				position: absolute;
				width: 100%;
				text-align: center;
				top:50%;
				margin-top:-25px;
				opacity: 1;
				z-index: 2;
				&:hover{
					opacity:1;
				}
				a{
					padding:10px 20px;
					border:3px solid $white;
					color:$white;
					background-color:rgba(0,0,0,0.3);
					font-family: 'steelfishregular', sans-serif;
					font-size: 1.6rem;
					text-transform: uppercase;
					opacity: 1;
					&:hover{
						opacity:1;
					}
				}
			}
		}
	}

	.home-events{
		color:$white;
		h2{
			font-size: 1rem;
			text-transform: uppercase;
			a{
				color:$white;
				@include transition;
				&:hover{
					opacity:0.6;
				}
			}
		}
		p{
			color:$white;
			font-size: 0.8rem;
			opacity: 0.6;
			font-family: $header-font-family;
		}
		.node-readmore{
			display: none;
		}
	}

	.block-views-events-block-events{
		border-top:1px solid darken($white, 40%);
		margin:100px 0 50px;
		position: relative;
		h2.block-title{
			margin-top: -12px;
			text-align: center;
			font-size: 1rem;
			color:$white; 
			margin-bottom:50px;
			text-transform: uppercase;
			span{
				padding:14px 30px 10px;
				border:1px solid darken($white, 40%);
				background-color:#03010E;
			}
		}
		.views-row{

			.views-field-field-image{
				// @include transition;
				// overflow: hidden;
				// height:185px;
				// border:1px solid lighten($black, 20%);
				// &:hover{
				// 	//opacity:0.6;
				// }
				// img{
				// 	@include transition;
				// 	&:hover{
				// 		width:110%!important;
				// 		max-width:110%!important;
				// 		margin-left:-5%;
				// 		margin-top:-5%;
				// 	}
				// }
			}
			.views-field-title{
				font-size: 1rem;
				font-family: $header-font-family;
				margin-top:20px;
				text-transform: uppercase;
				a{
					color:$white;
					@include transition;
					&:hover{
						opacity: 0.6;
					}
				}
			}
		}
	}
}

.flexslider{
	position:absolute;
	//width: 100%;
	z-index:-1;
	background-color:$black;
	ul{
		li{
			img{
				//width:100%;
			}
		}
	}
}

.front{
	.l-main{
		z-index:10;
	}
	.sub-section{
		background-color: $white;
		padding:50px 0;
		width: 100%;

		h2{
			color:$primary-color;
			text-transform: uppercase;
			font-size: 1rem;
			border-bottom:1px solid darken($white, 10%);
			padding-bottom:10px;
			margin-bottom:10px;
			min-height:55px;
			padding-top: 22px;
		}
		.last{
			h2{
				padding-top:0;
			}
		}
		h3{
			font-size: 1rem;
			margin-bottom: 0;
			text-transform: uppercase;
			font-family: $body-font-family;
			font-weight:700;
		}
		p, li{
			font-size: 0.8rem;
		}
		ul{
			margin-left:0;
			li{
				list-style: none;
				background-image:url(../images/checkmark.png);
				background-repeat: no-repeat;
				background-position:top left;
				padding-left:20px;
			}	
		}
		
		.button{
			background-color:$secondary-color;
			padding:10px 40px;
			text-transform: uppercase;
			font-weight: 100;
			font-size: 0.8rem;
			@include transition;
			&:hover{
				background-color:darken($secondary-color, 10%);
			}
		}
		.block-block-3{
			margin-top:5px;
		}
		#instafeed{
			a{
				img{
					@include transition;
					&:hover{
						opacity:0.6;
					}
				}
			}
		}
	}
}

.not-front{
	#contact-site-form{
		input{
			width: 100%;
		}
		textarea{
			height:200px;
		}
	}
	.l-main{
		padding-top:60px;
	}
	h1{
		text-transform: uppercase;
		font-family: 'steelfishregular', sans-serif;
	}
	h2{
		color:$primary-color;
		text-transform: uppercase;
		font-size: 1rem;
		border-bottom:1px solid darken($white, 10%);
		padding-bottom:10px;
		margin-bottom:20px;
	}
	.contact-form{

		fieldset#edit-attachments{
			border:none;
			padding:3px;
			legend{
				background:none;
			}
			.fieldset-legend{
				border-radius: 3px;
				padding:10px 20px;
				display: block;
				cursor:pointer;
				margin: 0 0 1.25rem;
				text-align: center;
				padding: 1.0625rem 2rem 1rem 2rem;
				background-color: lighten($secondary-color, 30%);
				color: #ffffff;
				font-weight: normal;
				@include transition;
				&:hover{
					background-color: lighten($secondary-color, 50%);
				}
			}
			.fieldset-wrapper{
				display: none;
				border-bottom: 1px solid lighten($secondary-color, 40%);
				margin-bottom:15px;
			}
			.fieldset-description{
				font-size: 0.8rem;
				margin-top: 20px;
				border-bottom: 1px solid lighten($secondary-color, 40%);
				padding-bottom: 20px;
			}
		}
		

	}
	.l-main{
		margin-bottom:100px;
	}
	.view-display-id-block_events_sub_page{
		ul{
			li{
				.views-row{
					background-color:$secondary-color;
					padding-bottom: 20px;
					position:relative;
					h3{
						font-family: $body-font-family;
						text-transform: uppercase;
						margin:20px 10px 0;
						color:$white;
						font-size: 1rem;
						font-weight: 100;
						a{
							color:$white;
							@include transition;
							&:hover{
								color:darken($white, 20%);
							}
						}
					}
					p{
						margin:0 10px;
						color:lighten($secondary-color, 40%);
						font-size: 0.8rem;
					}
					.views-field-created, .views-field-field-date .field-content{
						position:absolute;
						background-color:$secondary-color;
						padding:5px 10px;
						color:$white;
						font-size: 0.6rem;
						text-transform: uppercase;
						top: 15px;
						left:-5px;
						box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
					}
					.views-field-field-image{
						@include transition;
						overflow: hidden;
						height:185px;
						border:1px solid lighten($black, 20%);
						&:hover{
							//opacity:0.6;
						}
						img{
							@include transition;
							&:hover{
								width:110%!important;
								max-width:110%!important;
								margin-left:-5%;
								margin-top:-5%;
							}
						}
					}
				}
			}
		}
	}
	.view-display-id-page_events{
		p{
			//font-size: 0.8rem;
			margin:25px 0 50px;
		}
	}

	.view-display-id-page_gallery{
		.view-content{
			margin-left: -0.625rem;
			margin-right: -0.625rem;
			margin-top: 0;
			margin-bottom: 0;
			max-width: 62.5rem;
			&:after{
				clear: both;
			}
			&:after, &:before{
				content: " ";
				display: table;
			}
		}
		a{
			overflow: hidden;
		}
		.views-row{
			float:left;
			width: 33.333%;
			position: relative;
			padding-left: 0.625rem;
			padding-right: 0.625rem;
			float: left;
			margin-bottom:0.625rem * 2;
			max-height: 150px;
			overflow: hidden;
			@include transition;
			//overflow: hidden;
			//border:1px solid lighten($black, 20%);
			img{
				@include transition;
				width:100%;
				&:hover{
					width:100%;
					opacity:0.8;
				}
			}
		}
		.views-field-field-image{
			@include transition;
			overflow: hidden;
			height:225px;
			border:1px solid lighten($black, 20%);
			&:hover{
				//opacity:0.6;
			}
			img{
				@include transition;
				&:hover{
					width:110%!important;
					max-width:110%!important;
					margin-left:-5%;
					margin-top:-5%;
				}
			}
		}
	}

	.sidebar-second{
		margin-top: 69px;
		.instagram-block{
			margin-bottom:2rem;
			h2{
				font-size: 0.8rem;
				text-transform: uppercase;
				background-color: $secondary-color;
				padding:10px;
				color:$white;
				margin-bottom:0;
				img{
					width:26px;
				}
			}
		}
		.block-block-6{
			background-image:url(../images/join-the-fun-bg.jpg);
			background-size:cover;
			text-align:center;
			color:$white;
			padding:20px 20px 0;
			h2{
				font-family: 'steelfishregular', sans-serif;
				color:#00ffff;
				text-transform: uppercase;
				font-size: 2.3125rem;
				border-bottom:none;
				margin-bottom: 0.5rem;
				padding-bottom:0!important;
			}
			p{
				color:$white;
				font-size: 0.8rem;
				a.button{
					background-color:$secondary-color;
					text-transform: uppercase;
					font-weight: 100;
					padding:10px 20px;
					font-size: 0.8rem;
				}
			}
		}
	}
}

.page-contact{
	textarea{
		height:200px;
	}
}

.page-gallery{
	.reveal-modal{
		background-color: $black;
		border: none;
	}
}

// MEDIUM SCREENS AND DOWN
@media only screen and (max-width: 40em) { 
	.l-main, .flexslider{
		img{
			width:150%;
			max-width:150%;
			margin-left:-25%;
		}	
	}
	
	.views-field-field-image{
		width:100%;
		img{
			width:100%;
		}
	}
	[class*="block-grid-"]>li{
		float:none;
	}
}

.hide{
	display: none;
}